SECRET_KEY= ""
#Générer une clé secrète: node -e "console.log(require('crypto').randomBytes(256).toString('base64'));" 
BACKEND_URL=
#Nodemailer
RESEND_API_KEY=re_xxxxxxxxxxxxx
EMAIL_TO=tonemail@gmail.com